<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link href="/style.css" rel="stylesheet">

</head>
<body>
<div class="container">

    <h1> administrator</h1>
    <div class="button-container">
        <form action="allEmployees" method="get">
            <button type="submit">show all employees</button>
        </form>
        <form action="removeEmployeePage" method="get">
            <button type="submit">Remove employee</button>
        </form>
    </div>

    <br>
    <br>

    <div class="button-container">
        <a href="javascript:history.go(-2);">Home Page</a>

    </div>

</div>
</body>
</html>